@media (max-width: 1200px) {
    header{
        width: 100%;
    }
    .image-end .carousel-item img{
        width: 1200px;
    }
    .contacts1 .part-right2 img{
        width: 380px;
        height: 280px;
    }
}
@media (max-width: 992px) {
    header{
        width: 100%;
    }
    .burger{
        position: fixed;
        left: 82%;
    }
    .contacts1 .title-s li h3{
       font-size: 15px;
    }
    .contacts1 .title-s li a{
       font-size: 10px;
    }
    .contacts1 .title-s li img{
        width: 30px;
        height: 30px;
    }
    .end .logo-footer img{
        padding: 30px 0 20px 10px;
    }
    .end .end-title h3{
        padding: 10px 0 30px ;
        font-size: 10px;
    }
    .end .coll h3{
        font-size: 15px;
    }
    .end .coll3 h3{
        font-size: 15px;
    }
    .end .coll{
        padding:113px 10px 30px  ;
    }
    .end .coll ul{
        font-size: 9px;
    }
    .end .coll3{
        padding:113px 10px 30px  ;
    }
    .end .coll3 ul{
        font-size: 9px;
    }
    .end .coll3 a{
        font-size: 9px;
    }
    .end-title{
        font-size: 15px;
    }
    .icons {
        display: flex;
        width: 10px;
        height: 30px;
        margin-bottom: 10px;
    }
    .icons img{
        margin-left: 10px;
    }
}
@media (max-width: 768px) {
    .burger{
        position: fixed;
        left: 79%;
    }
    .logo img {
        width: 150px;
        text-align: left;
    }

    header{
        width: 100%;
    }
    .burger-btn {
        width: 100px;
    }
    .contacts1 .part-right2 img{
        width: 300px;
        height: 180px;
    }
    .part-right .firs-in input{
        padding: 7px 15px ;
    }
    .part-right .second-in input{
        padding: 7px 15px ;
        margin: 30px 0 15px 0;
    }
    .part-right .third-in input {
        padding: 7px 15px;
        margin: 15px 0;
    }
    .footer {
        width: 100%;
    }

    .footer .first-coll {
        width: 20%;
    }

    .end .coll {
        display: none;
    }

    .end .coll3 {
        display: none;
    }
    .end .icons{
        padding:114px 20px 30px 70px ;
        display: flex;
        margin-bottom: 80px;
    }
    .end .icons img{
        width: 20px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .burger{
        position: fixed;
        left: 80%;
    }
    .burger-btn{
        width: 100px;
    }
    .burger-btn a{
        font-size: 14px;
    }
    .logo img {
        width: 80px;
        text-align: left;
    }

  header {
        width: 100%;
    }
    .contacts1 .part-right2 img{
        width: 150px;
        height: 150px;
        margin-left: 50px;
    }
    .part-right .firs-in input{
        padding: 3px 8px ;
    }
    .part-right .second-in input{
        padding: 3px 8px ;
        margin: 30px 0 15px 0;
    }
    .part-right .third-in input {
        padding: 3px 8px;
        margin: 15px 0;
    }
    .contacts1 .title-s li h3{
        font-size: 10px;
    }
    .contacts1 .title-s li a{
        font-size: 7px;
    }
    .contacts1 .title-s li p{
        font-size: 7px;
    }
    .contacts1 .title-s li img{
        width: 20px;
        height: 20px;
    }
    .footer {
        width: 100%;
    }

    .footer .first-coll {
        width: 20%;
    }

    .end .coll {
        display: none;
    }

    .end .coll3 {
        display: none;
    }
    .end .icons{
        padding:114px 20px 30px 20px ;
        display: flex;
       margin-bottom: 80px;
    }
    .end .icons img{
        width: 20px;
        height: 50px;
    }
}